<form>
  <input type="text" name="firstName" [(ngModel)]="data.firstName" placeholder="Name 1" />
  <input type="text" name="secondName" [(ngModel)]="data.secondName" placeholder="Name 2" />
  <input type="text" name="thirdName" [(ngModel)]="data.thirdName" placeholder="Name 3" />
  <input type="text" name="fourthName" [(ngModel)]="data.fourthName" placeholder="Name 4" />
  <input type="text" name="fifthName" [(ngModel)]="data.fifthName" placeholder="Name 5" />
  <button type="button" (click)="submitForm()">Submit karo</button>


  <pre>{{data | json}}</pre>



  <p>The names in the service currently are {{_regular.getNames()}}</p>
</form>
